.adminPrincipal {
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  position: absolute;
  width: 100vw;

  &--title{
    background: #fff;
    width: 50%;
    padding: 10px;
    text-align: center;
    h1 {
      text-align: center;
    }
  }

  &--body {
    padding: 10px;
    background: #fff;
    width: 100%;
    &--input {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      input {
        height: 40px;
      }

      input:focus {
        outline-style: none;
        border-color: $color-primary;;
        box-shadow: none;
      }
    }
  }
}
