.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 200px;
    -webkit-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 6px 9px 5px 0px rgba(0,0,0,0.08);
    cursor: pointer;
    padding: 10px;

    &--primary {
        border-color: $color-primary;
        background: $color-primary;
        color: #fff;

        &:hover {
            background: lighten($color-primary, 10%);
        }
    }
}
