.creditcard {
  position: relative;
  min-width: 246px;
  height: 200px;
  margin-right: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
  font-size: 10px;
  margin-top: 20px;
  margin-left: 10px;

  &:nth-child(1) {
    margin-left: 10px;
  }

  &--0 {
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #e2b24c, #e869c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #e2b24c, #e869c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--1 {
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #81b1e9, #668f99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #81b1e9, #668f99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--2 {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #80bee5, #9e40fa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #80bee5, #9e40fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--3 {
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--container {
    display: flex;
    height: 39vh;
    overflow-y: auto;
    flex-direction: column;
    margin-top: 20px;

    label {
      padding-left: 15px;
    }

    .view_profile--menu {
      width: 130px !important;
    }

  }

  &--body {
    display: flex;
    flex-direction: column;
  }
  label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    padding-top: 20px;
    i {
      display: block;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 200px;
      cursor: pointer;
      margin-left: 5px;
    }
  }

  input,
  input + div {
    display: none;
  }

  input:checked + div {
    display: flex;
    -webkit-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 100px;
    right: -60px;
    top: 25px;
    z-index: 999;
    border-radius: 15px;
    ul {
      list-style: none;
      font-size: 12px;
      width: 100%;
      cursor: pointer;
      li {
        width: 100%;
        text-align: center;
        display: flex;
        border-bottom: 1px solid $color-secondary;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 5px;
        color: $color-secondary;

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  &--code {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }

  &--brand {
    display: flex;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    img {
      width: 60px;
      height: 40px;
      margin-bottom: 3px;
    }
  }
  &--number {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }

  &--holder {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;

    span {
      margin-left: 5px;
    }
  }

  &--expiry {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }

  &--limit {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }
}

.modalLimite--card {
  h1 {
    margin-top: 10px;
    color: $color-secondary;
  }
  &--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 15px;
    span {
      width: 150px;
    }
  }

  textarea {
    resize: none;
    height: 60px;
    outline-style: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #cfd0d4;
    transition: all .3s ease;
    height: 30px;
    position: relative;
    z-index: 1;
    padding-top: 5px;
    width: 100%;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;

    &:focus {
      border-color: $color-primary;
    }

  }
}
.modalInformacoes--card {
  padding: 0 !important;
  border-radius: 15px;

  .creditcard {
    margin: 0;
    width: 450px;
    height: 338px;
  }
  button {
    display: none;
  }

  .largeCard {
    font-size: 15px;
    &--image {
      display: flex;
      padding-left: 20px;
      padding-top: 20px;
      img {
        width: 130px;
        margin-bottom: 20px;
        margin-left: 8px;
      }
    }
    &--data {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        padding-left: 30px;

        span {
          margin-right: 20px;
        }
      }
    }
  }
}

.modalBloquear--card {
  padding: 0 !important;
  padding-top: 30px !important;
  padding-right: 25px !important;
  padding-left: 25px !important;
  padding-bottom: 30px !important;
  border-radius: 10px;

  &--title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    // border-bottom: 1px solid $color-secondary;
    margin-top: 20px;
    font-size: 13px;
  }

  &--body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;

    .row {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      select,
      textarea {
        resize: none;
        height: 60px;
        outline-style: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #cfd0d4;
        transition: all .3s ease;
        height: 30px;
        position: relative;
        z-index: 1;
        padding-top: 5px;
        width: 100%;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        cursor: pointer;

        &:focus {
          border-color: $color-primary;
        }

      }
    }
  }

  &--buttons {
    margin-top: 20px;
    width: 80%;
    margin-left: 11%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    cursor: pointer;

    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      cursor: pointer;
    }

    div:hover {
      color: $color-primary;
    }

    div:nth-child(1) {
      border-right: 1px solid $color-secondary;
    }
  }
}

.modalAnuidade--card {
  border-radius: 20px;

  &--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 20px;

    h2,
    h1 {
      font-size: 15px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
    }
  }
  &--buttons {
    display: flex;
    align-content: space-around;
    justify-content: space-around;

    div {
      background: $color-primary;
      color: #fff;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

.modalAdicionar {
  width: 50vw;

  fieldset {
    border: 2px solid $color-secondary;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
    }

    .input {
      margin-right: 8px;
    }

    .row-new {
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end;
      span {
        font-size: 12px;
        color: $color-primary;
        cursor: pointer;
      }
    }

    .row-select {
      flex-direction: column !important;
      select,
      textarea {
        resize: none;
        height: 60px;
        outline-style: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #cfd0d4;
        transition: all .3s ease;
        height: 30px;
        position: relative;
        z-index: 1;
        padding-top: 5px;
        width: 100%;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        cursor: pointer;

        &:focus {
          border-color: $color-primary;
        }

      }
      label {
        font-size: 12px;
        color: #cfd0d4;
        margin-top: 10px;
      }
    }
    &:not(&:first-child) {
      margin-top: 20px;
    }

    legend {
      background: $color-primary;
      border-radius: 100px;
      padding: 10px;
    }
  }

  .row-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.modalDesbloquear--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;

  .row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;

    select,
    textarea {
      resize: none;
      height: 60px;
      outline-style: none;
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #cfd0d4;
      transition: all .3s ease;
      height: 30px;
      position: relative;
      z-index: 1;
      padding-top: 5px;
      width: 100%;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      appearance:none;
      cursor: pointer;

      &:focus {
        border-color: $color-primary;
      }

    }
  }
  &--title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }

  &--body {
    display: flex;
    background: $color-secondary;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  &--buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 600px) {
  .creditcard {
    margin-top: 0px;
    margin-left: 0px;
    &--container {
      width: 100%;
      margin-top: 0;
    }
    &--body {
      flex-direction: row;
    }
  }
}

.modalPassword {
  width: 80vw;
  &--title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;

    h1 {
      color: $color-secondary;
      width: 100%;
      text-align: center;
    }
  }

  &--footer {
    margin-top: 10px;
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

}

.timeline-empty {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  background: $color-secondary;

  h1 {
    width: 100%;
    text-align: center;
    color: $color-primary;
    font-size: 18px;
  }
}
