.dependentes {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
  &--vazio {
    display: flex;
    width: 98%;
    border: 1px solid #dddddd;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  span {
    font-size: 10px;
    margin-top: 10px;
    padding-left: 20px;
  }

  &--table {
    margin-left: 10px;
    table {
      width: 100%;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-radius: 1em;
      th {
        font-size: 11px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 6px;
        width: 130px;
      }
      td {
        font-size: 11px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 6px;
        width: 130px;

        img {
          width: 40px;
          height: 40px;
        }

      }
    }
    &--active {
      background: #00b894;
      padding: 0;
      width: 40px;
      color: white;
    }
  }
}


@media screen and (min-width: 600px) {
  .dependentes {

    span {
      font-size: 20px;
      margin-top: 10px;
      padding-left:0;
    }
    &--table {
      margin-left: 0;
    }

  }
}
