.input {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    flex-direction: column-reverse;

    input {
        outline-style:none;
        box-shadow:none;
        border: none;
        border-bottom: 1px solid #cfd0d4;
        transition: all .3s ease;
        height: 30px;
        position: relative;
        z-index: 1;
        padding-top: 5px;
        width: 100%;

        &:disabled {
          border-radius: 200px !important;
          height: 18px !important;
          padding: 5px !important;
          margin-top: 5px;
          background-color: #dadada;
          color: #aeaeae;
          display: inherit;
        }

        &:not(:placeholder-shown) ~ label {
            transform: translateY(-110%);
            color: #cfd0d4;
        }

        &:not(:placeholder-shown) {
            border-bottom-color: #cfd0d4;
        }

        & ~ label {
            font-size: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            color: #cfd0d4;
            transition: all .3s ease-in;
        }

        &:focus {
            border-bottom-color: $color-primary;

            & ~ label {
                transform: translateY(-110%);
                color: $color-primary;
            }
        }

    }
}
