.lastPurchase {
  position: relative;
  min-width: 306px;
  height: 200px;
  margin-right: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.06);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.06);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.06);
  text-align: center;
  font-size: 12px;

  &:nth-child(1) {
    margin-left: 10px;
  }

  &--0 {
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #e2b24c, #e869c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #e2b24c, #e869c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--1 {
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #81b1e9, #668f99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #81b1e9, #668f99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--2 {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #80bee5, #9e40fa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #80bee5, #9e40fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--3 {
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
      padding-left: 20px;
    }

    .view_profile--menu {
      width: 130px !important;
    }

  }

  &--body {
    display: flex;
  }
  label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    padding-top: 20px;
    i {
      display: block;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 200px;
      cursor: pointer;
      margin-left: 5px;
    }
  }

  input,
  input + div {
    display: none;
  }

  input:checked + div {
    display: flex;
    -webkit-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 100px;
    right: -60px;
    top: 25px;
    z-index: 999;
    border-radius: 15px;
    ul {
      list-style: none;
      font-size: 12px;
      width: 100%;
      cursor: pointer;
      li {
        width: 100%;
        text-align: center;
        display: flex;
        border-bottom: 1px solid $color-secondary;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 5px;
        color: $color-secondary;

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &--code {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }

  &--brand {
    display: flex;
    padding-left: 20px;
    img {
      width: 60px;
    }
  }
  &--number {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }

  &--holder {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;

    span {
      margin-left: 5px;
    }
  }

  &--expiry {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }

  &--limit {
    display: flex;
    padding-left: 22px;
    margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }
}

@media screen and (min-width: 600px) {
  .lastPurchase {
    &--container {
      width: 100%;
      margin-top: 11px;
      overflow-y: auto;
      margin-bottom: 5px;
    }
  }
}

.tableLastPurchase {
  table, th, td {
    font-size: 11px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    // opacity: 0.5;
    padding: 6px;
    width: 130px;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }

  }

  td:hover {
    color: $color-primary;
  }
}

.backgroundLastPurchase {
  margin-left: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1em;
}

.subMenuTableLastPurchase {
  color: black;
  width: 70px !important;
  left: 50px !important;
  top: -25px !important;
  position: absolute !important;
  ul {
    font-size: 10px !important;
  }
}

.headerBoleto {
  border-bottom: 3px solid #ddd;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 720px;
}

.valuesBoleto {
  margin-top: 10px;
  align-content: center;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.square {
  width: 160px;
  margin-right: 10px;
  border-radius: 1em;
  border: 3px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  p {
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    align-self: flex-end;
  }
  span {
    margin-right: 10px;
    position: relative;
    align-self: flex-end;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    line-break: auto;
    font-weight: bold;
  }
}

.textBoleto {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.leftTextBoleto {
  width: 240px;
  word-wrap: break-word;
  margin-top: 10px;
  margin-right: 180px;

  span {
    font-size: 13px;
    font-weight: bold;
  }
  .borderSpan {
    border-bottom: 1px solid black;
  }
  .dataInformation {
    border-bottom: 2px solid #ddd;
    p {
      font-size: 10px;
      display: inline;
    }
    .valueText {
      position: relative;
      float: right;
      margin-top: 10px;
      margin-left: 2px;
    }
  }
}

.rightTextBoleto {
  word-wrap: break-word;
  margin-top: 10px;
  span {
    font-size: 13px;
    font-weight: bold;
  }
  .borderSpan {
    border-bottom: 1px solid black;
  }
  .dataInformation {
    border-bottom: 2px solid #ddd;
    p {
      font-size: 10px;
      display: inline;
    }
    .valueText {
      position: relative;
      float: right;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

.informationBody {
  width: 720px;

  .subInformation {
    margin-top: 30px;
    .borderSpan {
      font-size: 17px;
      font-weight: bold;
    }
    .rowInformation {
      width: 100%;
      opacity: 0.5;
      margin-top: 10px;
      padding: 4px;
      display: flex;
      flex-direction: row;
      label {
        font-size: 13px;
        position: relative;
        left: 7px;
      }
      input {
        cursor: text;
        font-size: 13px;
        background-color: white;
        margin-right: 12px;
        border: none;
        border-radius: 50px;
        padding: 10px;
        box-shadow: 0px 2px 3px 2px #ccc;
      }
    }

    .rowInformationDebt {
      width: 64%;
      opacity: 0.5;
      display: flex;
      flex-direction: row;
      label {
        font-size: 12px;
        position: relative;
        left: 7px;
      }
      input {
        margin-left: 2px;
        margin-top: 2px;
        cursor: text;
        font-size: 13px;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 10px;
        box-shadow: 0px 2px 3px 2px #ccc;
      }

      text {
        position: relative;
        top: 3px;
        left: 3px;
        font-size: 25px;
        font-weight: bold;
      }

      .equalSignal {
        position: relative;
        left: 10px;
      }

    }
  }
}

.sendBody {
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
  .sendLabel {
    label {
      font-size: 17px;
      font-weight: bold;
      position: relative;
      left: 7px;
    }
  }
  .sendInput {
    .inputStyle {
      margin-left: 2px;
      margin-top: 20px;
      width: 100%;
      cursor: text;
      font-size: 13px;
      background-color: white;
      border: none;
      border-radius: 50px;
      padding: 10px;
      box-shadow: 0px 2px 3px 2px #ccc;
    }
  }
  .sendButtons {
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.noResponse {
  position: relative;
  display: flex;
  column-span: 5;
  flex-direction: row;
  align-items: center;
  left: 270px;
  font-size: 13px;
}
