// Redondo

.ring1{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    animation: rotate 3s infinite linear;
    border-left: 5px solid $color-secondary;
    border-bottom: 5px solid $color-primary;
    border-right: 5px solid $color-secondary;
    border-top: 5px solid $color-primary;
  }
  .ring2{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    animation: rotate 2s infinite linear;
    border-left: 5px solid $color-secondary;
    border-bottom: 5px solid $color-secondary;
    border-right: 5px solid $color-secondary;
    border-top: 5px solid $color-primary;
  }
  .ring3{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: transparent;
    animation: rotate 1s infinite linear;
    border-left: 5px solid $color-secondary;
    border-bottom: 5px solid $color-secondary;
    border-right: 5px solid $color-secondary;
    border-top: 5px solid $color-primary;
  }
  .ring4{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
    animation: rotate .90s infinite linear;
    border-left: 5px solid $color-secondary;
    border-bottom: 5px solid $color-secondary;
    border-right: 5px solid $color-secondary;
    border-top: 5px solid $color-primary;
  }


  @keyframes rotate {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }


// Vertical
.newtons-cradle {
  width: 4em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.newtons-cradle div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: $color-primary;
}
.newtons-cradle div:nth-of-type(1) {
  transform: translateX(-100%);
  animation: left-swing 0.5s ease-in alternate infinite;
}
.newtons-cradle div:nth-of-type(3) {
  transform: translateX(-95%);
  animation: right-swing 0.5s ease-out alternate infinite;
}
@keyframes left-swing {
  50%, 100% { transform: translateX(95%); }
}
@keyframes right-swing {
  50% {transform: translateX(-95%); }
  100% {transform: translateX(100%); }
}

