.login {
    height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: 99999;
    width: 100vw;
    position: absolute;
    &--image {
       display: none;
    }
    &--form {
        display: flex;
        width: 100vw;
        flex-direction: column;
        background: #fff;

        .input {
            margin-top: 10px;
        }

        &--title {
            width: 80%;
            flex: 6;
            align-self: center;
            text-emphasis: center;
            justify-content: flex-end;
            align-content: flex-end;
            display: flex;
            flex-direction: column;

            .logo {
                padding: 20px;
                margin-bottom: 55px;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }

        &--data {
            width: 80%;
            flex: 2;
            align-content: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        &--footer {
            width: 40%;
            flex: 2;
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;

            span {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .login {
        &--image {
            display: flex;
            width: 60vw;
            background: $color-primary;
            padding: 15px;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        &--form {
            width: 40vw;
        }
    }
}
