.navbar {
  height: 100vh;
  background: $color-secondary;
  width: 12vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;

  &--logo {
    padding: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    &--desktop {
      display: none;
    }
    &--mobile {
      display: flex;
      justify-content: center;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    width: 100%;
    height: 84vh;
    padding-top: .5px;

    a {
      width: 100%;
      display: flex;
      padding: 5px;
      font-size: 15px;
      border-top-left-radius: 200px;
      border-bottom-left-radius: 200px;
      margin-bottom: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }

      span {
        display: none;
      }

      i {
        font-size: 30px;
      }

      &.active {
        background: #fff;
        color: $color-secondary;
      }
    }
  }

  &--logout {
    display: flex;
    background: $color-primary;
    width: 100%;
    height: 5vh;
    padding-left: 10px;

    span {
      display: none;
    }
    &--icon {
      font-size: 25px;
      flex: 1;
      padding-right: 5px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: $color-secondary;

      &:hover {
        background: lighten($color-primary, 10%);
      }

    }
  }
}

@media screen and (min-width: 600px) {
  .navbar {
    &--logo {

      &--desktop {
        display: flex;
        justify-content: center;
      }
      &--mobile {
        display: none;
      }
    }

    &--list {
      align-items: flex-end;
      a {
        width: 90%;
        padding: 10px;
        font-size: 15px;
        span {
          display: flex;
          margin-left: 10px;
        }
        i {
          font-size: 25px;
          position: relative;
          top: -2px;
        }
      }
    }

    &--logout {
      display: flex;
      background: $color-primary;
      width: 100%;
      height: 5vh;
      padding-left: 10px;

      span {
        font-size: 15px;
        display: inline-block;
        width: 9vw;
        padding-top: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
      }
    }
  }
}
