* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    font-size: 11px;
    font-family: 'Marvel', sans-serif;
    letter-spacing: .5px;
    line-height: 1.4;
    overflow: auto;
    color: $color-font;
  }

  .body {
    display: flex;
  }

  #root {
    display: flex;
  }


  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

  @media screen and (min-width: 600px) {
    html {
      font-size: 20px;
    }
  }
