.principal {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  &--search {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }
  &--nav {
    display: flex;
    position: relative;
    top: -12vh;
  }
  &--body {
    display: flex;
    position: absolute;
    left: 13vw;
    top: 14vh;

    &--container {
      width: 86vw;
      height: 86vh;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }
  .row {
    display: flex;
    flex-direction: column;

    .group {
      width: 100%;
    }
  }
}

.row-table {
  display: flex;
  flex-direction: row;
}

.notfound {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 86vh;

  span {
    font-size: 35px;
    background: $color-primary;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    top: 10px;
    margin-bottom: 20px;
  }

  img {
    width: 21rem;
    opacity: .4;
  }

  h1 {
    font-size: 15px;
    opacity: .4;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
  }
}

.searchClientModal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;

  &--document {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;

    .container--document {
      background: $color-primary;
      color: #fff;
      display: flex;
      padding: 10px;
      justify-items: center;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-bottom: 10px;
      border-radius: 10px;
    }

    .rc-checkbox-checked .rc-checkbox-inner {
      border-color: $color-primary;
      background-color: $color-primary;
    }

    .document {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      align-items: center;
      padding: 5px 15px;
      cursor: pointer;

      &:nth-child(1) {
        border-right: 1px solid #fff;
      }
    }
  }

  svg {
    position: absolute;
    top: -11px;
    right: -11px;
  }

  h2 {
    text-align: center;
    margin-top: 20px;
  }

  &--title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    color: $color-secondary;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }

  &--input {
    display: flex;
    background: $color-primary;
    width: 100%;
    position: relative;
    height: 80px;
    justify-content: center;
    align-content: center;
    align-items: center;

    input {
      outline-style:none;
      box-shadow:none;
      border: none;
      height: 80%;
      width: 80%;
      border-radius: 80px;
      padding-left: 20px;
      font-size: 19px;
    }

    span {
      position: absolute;
      right: 12%;
    }

    div {
      position: absolute;
      right: 14%;
    }
  }

  &--client {
    display: flex;
    flex-direction: column;
    &--data {
      display: flex;
      width: 100%;
      border: 1px solid $color-secondary;
      padding: 10px;
    }
    .client {
      &--thumb {
        width: 50%;
        font-size: 70px;
        color: $color-secondary;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;

        i {
          background: $color-primary;
          border-radius: 200px;
          padding: 20px;
        }
      }
      &--fields {
        width: 50%;
        .input {
          margin-left: 10px;
        }
        input {
          width: 90%;
        }
        &--row {
          display: flex;
          flex-direction: column;
          &.centered {
            justify-content: center;
            align-content: center;
            align-items: center;
            justify-items: center;
            padding-top: 10px;
          }
          input {
            margin-left: 5px;
          }
        }
      }
      &--quests {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-right: 1px solid $color-secondary;
        border-left: 1px solid $color-secondary;
        border-bottom: 1px solid $color-secondary;
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }

  .tableLastPurchase {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .principal {
    .row {
      flex-direction: row;
      .group {
        width: 53vw;
      }
    }
  }

  .row-table {
    flex-direction: row;
  }

  .searchClientModal {
    &--client {
      .client {
        &--fields {
          &--row {
            display: flex;
            flex-direction: row;
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }

}
