  // ************** Menu **************

.view_profile--title {
  display: flex;
  position: relative;
  cursor: pointer;
  label {
    display: flex;
    cursor: pointer;
  }

  input {
    display: none;
  }

  input ~ div {
    display: none;
  }

  input:checked ~ div {
    display: flex;
    -webkit-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 100px;
    left: 70px;
    z-index: 999;
    border-radius: 15px;
    ul {
      list-style: none;
      font-size: 12px;
      width: 100%;
      cursor: pointer;
      li {
        width: 100%;
        text-align: center;
        display: flex;
        border-bottom: 1px solid $color-secondary;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 5px;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        &:hover {
          color: $color-primary;
        }

      }
    }
  }

  .container-icon {
    display: flex;
  }

  i {
    display: flex;
    height: 5px;
    width: 5px;
    background: #fd9177;
    border-radius: 200px;
    position: relative;
    top: 41%;
    margin-left: 5px;
  }
}

// ************** FIM Menu **************

.card {
  display: flex;
  flex-direction: column;
  width: 81vw;
  font-size: 10px;
  border: 1px solid #dddee5;
  border-radius: 10px;
  max-width: 605px;
  padding: 10px;
  height: 30vvh;

  .data {
    font-size: 15px;
  }

  .avatar {
    display: flex;
    .thumb {
      font-size: 15px;
      background: $color-primary;
      color: $color-secondary;
      padding: 10px;
      width: 50px;
      text-align: center;
      max-height: 40px;
    }

    &--title {
      width: 100%;
      display: flex;
      justify-items: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      font-size: 25px;
      margin-left: 10px;
    }

    .row {
      display: flex;
      width: 100%;
    }
  }

  &--body {
    display: flex;

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
    }

    &--column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      justify-content: center;
      padding: 10px 0;

      .field {
        text-align: center;
      }

      span {
        width: 100%;
        align-items: center;
        overflow: hidden;
      }

      .value {
        font-weight: 700;
      }

      &:nth-child(1) {
        align-items: flex-start;
        span {
          text-align: left;
        }
      }
      &:nth-child(2) {
        span {
          text-align: end;
        }
        align-items: center;
      }
      &:nth-child(3) {
        span {
          text-align: right;
        }
        align-items: flex-end;
      }
    }
  }
}

.profile {
  width: 33vw;
}

.profileModal {
  border-radius: 10px;

  &--container {
    width: 90vw;
  }

  &--body {
    text-align: right;
    &--addContact {
      color: $color-primary;
      font-size: 10px;
      cursor: pointer;
      font-weight: 700;
    }
  }

  fieldset {
    border: 2px solid $color-secondary;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;

      .input {
        margin-left: 5px;
      }
    }

    &:not(&:first-child) {
      margin-top: 20px;
    }

    legend {
      background: $color-primary;
      border-radius: 100px;
      padding: 10px;
    }
  }
  &--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    .btn {
      width: 200px;
    }
  }
}

.contactModal {
  &--body {
    &--select {
      display: flex;
      flex-direction: column;

      label {
        color: #ccc;
        font-size: 12px;
      }
      select {
        outline-style: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #cfd0d4;
        transition: all .3s ease;
        height: 30px;
        position: relative;
        z-index: 1;
        width: 100%;
        appearance: none;
        cursor: pointer;
      }
    }
    &--tel {
      display: flex;
      .input:nth-child(1) {
        flex: 1;
        margin-right: 5px;
      }
      .input:nth-child(2) {
        flex: 6
      }
    }
    &--salvar {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 800px) {
  .card {
    width: 100%;
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .view_profile--title {
    input:checked ~ div {
      left: 100px;
    }
  }

  .profileModal {
    &--container {
      width: 30vw;
    }
  }

}
