.searchBar {
 width: 88vw;
 background: $color-primary;
 display: flex;
 height: 12vh;
 justify-content: center;
 align-items: center;

 &--input {
  display: flex;
  background: #fff;
  width: 70vw;
  height: 7vh;
  position: relative;
  border-radius: 200px;

  input {
   width: 100%;
   outline-style:none;
   box-shadow:none;
   border: none;
   border-radius: 200px;
   padding-left: 30px;
  }

  &--button {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 15px;
   width: 85px;
  }

 }
 &--protocol {
   font-size: 12px;
   color: #fff;
   margin-left: 20px;
   width: 90%;
 }
}

@media screen and (min-width: 600px) {
  .searchBar {
    &--input {
      width: 50vw;
    }
  }
}
