.seguros {
  display: flex;
  max-height: 100vh;
  .first-row {
    padding-top: 10px;
    padding-left: 10px;
    flex-direction: column;
  }
  &--body {
    width: 88vw;
    overflow-x: hidden;
    &--header {
      width: 89vw;
      background: #fd9177;
      display: flex;
      height: 12vh;
      justify-content: center;
      align-items: center;
      left: -10px;
      position: relative;
    }
    .row {
      display: flex;
    }
    .first-row .lastPurchase--container {
     width: 100%;
     .backgroundLastPurchase {
      max-height: auto;
      overflow-y: auto;
     }
    }
  }
}

@media screen and (min-width: 800px) {
  .seguros {
    &--body {
      .first-row {
        flex-direction: row;
      }
      .first-row .lastPurchase--container {
        width: 60%;
        .backgroundLastPurchase {
          max-height: 34vh;
          overflow-y: auto;
        }
      }
    }
  }
}
