.users {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  &--search {
    display: flex;
    justify-content: flex-end;
  }
  &--nav {
    display: flex;
    position: relative;
    top: -12vh;
  }
  &--body {
    display: flex;
    position: absolute;
    left: 13vw;
    top: 14vh;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;

    &--new {
      span {
        display: flex;
        width: 400px;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        background: $color-primary;
        cursor: pointer;
        height: 200px;
        color: #fff;
        margin-right: 20px;
        padding: 30px;
        text-align: center;
        -webkit-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
        -moz-box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
        box-shadow: 6px 22px 20px 0px rgba(0,0,0,0.18);
      }
    }
  }
}

.modal--usuario {
  &--edit {
    table {
      width: 100%;
      th {
        font-size: 11px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 6px;
        width: 130px;
      }
      td {
        font-size: 11px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 6px;
        width: 130px;

        span {
          margin-right: 30px;
          padding: 10px;
          background: $color-primary;
          color: #fff;
          font-size: 10px;
          border-radius: 10px;
          cursor: pointer;
          float: right;
        }
      }
    }
  }
  .modal--usuario--novo {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    span {
      margin-right: 30px;
      padding: 10px;
      background: $color-primary;
      color: #fff;
      font-size: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}


.modal--editar {
  fieldset {
    border: 2px solid $color-secondary;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;

      &--select {
        flex-direction: column;
        padding-top: 5px;
        margin-left: 5px;
        label {
          font-size: 12px;
          color: #cfd0d4;
        }
      }

      &--button {
        padding-top: 10px;
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      .input {
        margin-left: 5px;
      }
    }

    &:not(&:first-child) {
      margin-top: 20px;
    }

    legend {
      background: $color-primary;
      border-radius: 100px;
      padding: 10px;
    }
  }
}

.modal--grupo {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw !important;

  .modal--grupo--body {
    width: 100%;

    .group--groups {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .group--container {
    padding-top: 10px;
    .group {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eee;
      justify-content: center;
      align-items: center;

      &--permissions {
        width: 100%;
        display: flex;
        padding: 10px 0;

        span {
          display: flex;
          width: 550px;
          height: 30px;
          font-size: 10px;
          cursor: pointer;
          background: $color-secondary;
          color: #fff;
          margin: 10px;
          text-align: center;
          justify-items: center;
          justify-content: center;
          align-content: center;
          align-items: center;
          border-radius: 5px;

          &.active {
            background-color: $color-primary;
          }
        }
      }

    }
  }

  .group--save {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    span {
      width: 200px;
      padding: 10px;
      background: $color-primary;
      color: #fff;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 10px;
    }

  }

}
